*{
    margin: 0;
    padding: 0;
}

nav {
    float: right;
    width: 100%;
    height: 60px;
    background-color: black;
    
    
}

nav p {
    margin-left: 15px;
    float: left;
    line-height: 55px;
    color: rgb(214, 32, 32);
    font-size: 22px;
    font-family: days;
}

#button {
   background-color: black;
   color: white;
}

#button:hover {
    color: rgb(214, 32, 32);
}

@font-face {
    src: url(fonts/28days.ttf);
    font-family: days;
}

body {
    background-image: linear-gradient(135deg, #0e0c0c 10%,  #d31c1c 55%,
    #0e0c0c 95%);
    background-size: cover;
    color: white;
    font-family: days;
    
}

footer {
    background-color: black;
    color: white;
    
}



nav ul li {
    list-style: none;
    display: inline-block;
    line-height: 60px;
}

nav ul li a {
    display: block;
    text-decoration: none;
    font-size: 18px;
    font-family: days;
    color: white;
    padding: 0 20px;
}

nav ul li a:hover {
    text-decoration: none;
    color: rgb(214, 32, 32);
}

.media {
    
    display: inline-flex;
    margin-right: 30px;
    float: right;
}


form {
    margin: 20px;
    width: 300px;
}


input {
    margin-left: 125px;
    padding: 5px;
    width: 100%;
}
textarea {
    margin-left: 125px;
    padding: 20px;
    resize: both;
    max-height: 200px;
}

input, textarea {
    outline: none;
    border: 2px solid;
}

input:focus, textarea:focus {
    box-shadow: 0 0 5px black;
    border: 1px solid black;
}

::placeholder {
   color: black;
   opacity: 1px;
}

:-ms-input-placeholder {
    color: black;
    opacity: 1;
 }

 ::-ms-input-placeholder {
    color: black;
    opacity: 1;
 }

button {
    padding: 5px;
    margin-left: 200px;
}

#p3 {
    margin-left: 150px;
    padding: 1px;
    font-family: staat;
}

@font-face {
  src: url(fonts/Staatliches-Regular.ttf);
  font-family: staat;
}

.newfont {
    font-family: staat;
}

#ct {
    justify-content: center;
    display: flex;
    margin-top: 100px;
}



#hours {
    margin-left: 0px;
    list-style: none;
}


#link{
    color:  white;
    text-decoration-line: underline;
    font-size: 25px;
}


#link:hover {
    color: rgb(0, 0, 0);
}

#links {
    color:  white;
    text-decoration: none;
    font-size: 25px;
    list-style: none;

}

#links:hover {
    color: rgb(214, 32, 32);
}

h4 {
    background-color: black;
    border-bottom: 3px solid white;
}

 
#emaillink{
    color: white;
    text-decoration-line: underline;
    
 }

 #emaillink:hover {
    color: rgb(0, 0, 0);
}



#pg2title {
    text-align: center;
    
}

.artists {
    width: 250px;
    margin-left: 30px;
    pad: 10px;
}


.img-fluid {
    border: 2px solid black;
    border-style: solid;
}

.figcaption {
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
}

#logo {
    padding-top: 80px;
}

#logo1 {
    outline: 2px solid white;
}



.artistinsta {
    font-size: 50px;
}


#carouselExampleSlidesOnly {
    width: 500px;
    margin-bottom: 100px;
    padding-top: 35px;
   
    
}
    

.col-centered {
    float: none;
    margin: 0 auto;
 }



.h3 {
    background-color: black;
    color: white;
    border-left: 2px solid  white;
    border-bottom: 2px solid white;
}


.carousel-item {
    border: 2px solid black;
}


